* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}/* mentain total size*/

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #b6b8f5, #d2d4fa);
  color: #2b2b2b;/*gives text color*/
  line-height: 1.6;/*adds spce between lines*/
}

/* HEADER */
.header {
  text-align: center;/*keeps the header into center*/
  padding: 2rem 1rem;/* top/bottom=2rem and sides 1rem*/
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;/*removes bullets*/
  flex-wrap: wrap;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  background: #7a75e9;
  padding: 0.5rem 1rem;
  border-radius: 20px;/*makes the shape round*/
  transition: 0.3s;/*gives hoover effect*/
}

.nav-links a:hover {
  background: #5e5ad1;
}

.hero {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;/*give position to text and image, its vertically*/
  align-items: center;
  gap: 1rem;/*gives spacing btn image and text*/
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 20px;
  object-fit: cover;/*helps image covers the frame*/
}

.hero-text p {
  font-size: 1.1rem;
  color: #f9f9ff;
}

/* PROFILE FRAME */
.profile-frame {
  width: 200px;
  height: 200px;
  padding: 4px;
  border: 4px solid #083075;/*border for image*/
  background-color: #083075;
  border-radius: 8px;
  display: flex;
  justify-content: center;/*put the img in center horizontally*/
  align-items: center;/*put the img in the center vertically*/
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);/*gives shadow effect*/
  margin: 2rem auto;
  transition: transform 0.3s, box-shadow 0.3s;/*gives hoover effect*/
}

.profile-frame:hover {
  transform: scale(1.05);/*for zoom out hoover*/
  box-shadow: 0 0 15px rgba(0, 31, 84, 0.7);
}

.profile-frame-img {
  width: 112px;
  height: 112px;
  object-fit: cover;
  border-radius: 4px;
}

/* ABOUT SECTION */
.about {
  padding: 2rem 1rem;
  text-align: center;
  background: #e3e5ff;
  border-radius: 20px;
  margin: 2rem auto;
  width: 90%;
  max-width: 800px;/*gives responsive width*/
}

.about h2 {
  color: #4538a0;
  margin-bottom: 1rem;
}

/* EDUCATION */
.education {
  background: #7886C7;
  padding: 2rem 1rem;
  border-radius: 20px;
  width: 90%;
  max-width: 800px;
  margin: 2rem auto;
}

.education h3 {
  color: #392e89;
  margin-bottom: 1rem;
}

/*  SOFTWARE */
.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/*makes responsive column*/
  gap: 1rem;
  width: 90%;
  border-radius: 20px;
  max-width: 1000px;
  margin: 2rem auto;
}

.skills > div {
  background: #EEC6C7;
  padding: 3rem ;
  border-radius: 20px;
}
.skills h3 {
  color: #392e89;
  margin-bottom: 1rem;
}
/* Achervimenyt */
.achievements{
  background: #738FBD;
  padding: 2rem 1rem;
  border-radius: 20px;
  width: 90%;
  max-width: 800px;
  margin: 2rem auto;
}

.achievements h3 {
  color: #e0deea;
  margin-bottom: 1rem;
}

/* Contact info*/
.contact-info  {
    background: #7886C7;
    margin:0.5rem 0;
    font-size:1.1rem;
    display :flex;
    align-item: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 20px;
}
.contact-info p {
    margin:0.5rem 0;
    font-size:1.1rem;
    display :flex;
    gap: 0.5rem;
}
.contact-info {
    color: #083075;
    font-size:5 rem;
}
.languages{
    background: #7886C7;
    margin:0.5rem 0;
    font-size:1.1rem;
    display :flex;
    align-item: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 20px;
}
.language h3 { 
    margin:0.5rem 0;
    font-size:1.1rem;
    display :flex;
    gap: 0.5rem;
}
.hobbies{
    background: #7886C7;
  padding: 2rem 1rem;
  border-radius: 5px;
  width: 90%;
  border-radius: 20px;
  max-width: 200px;
  margin: 2rem auto;
}

.hobbies h3 {
  color: #392e89;
  margin-bottom: 1rem;
}





   